h1 {
  font-size: 160px;
  color: #fff;
  text-transform: uppercase;
  line-height: 160px;
  padding: 35% 0 0 5%;
  margin: 0;
}

h1 span {
  line-height: 24px;
  display: block;
  font-size: 72px;
  text-indent: 5px;
}

h2 {
  font-size: 48px;
}

h3, h4 {
  font-family: 'Roboto Slab', serif;
}

header {
  width: 100vw;
  height: 100vh;
  min-height: 800px;
  margin: 0;
  padding: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

article {
  z-index: 10;
  position: relative;
  margin: 48px 10%;
  min-height: 200px;
  background: #fff;
  overflow: hidden;
}

article > img {
  float: right;
  margin: 48px 0 48px 48px;
  width: 33%;
}

@media (max-width: 960px) {
  h1 {
    font-size: 120px;
    line-height: 80px;
  }

  h1 span {
    font-size: 72px;
    text-indent: 3px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 80px;
    line-height: 80px;
  }

  h1 span {
    font-size: 36px;
  }

  h2 {
    line-height: 42px;
  }

  header {
    min-height: 401px;
  }
}

@media (max-width: 480px) {
  h1 {
    padding: 55% 0 0 5%;
    font-size: 48px;
    line-height: 48px;
  }

  h1 span {
    font-size: 28px;
    text-indent: 2px;
  }

  header {
    height: 300px;
  }

  article {
    margin: 24px 5%;
  }

  article > img {
    display: none;
  }
}