section, header, footer, menu, aside, article, nav {display: block;}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #444;
}

header {
  z-index: 1;
  position: absolute;
  bottom:10%;
  left: 10%
}

h1 {
  font-size: 160px;
  color: #fff;
  text-transform: uppercase;
  line-height: 96px;
  margin: 0;
  padding: 0;
}

h1 span {
  display: block;
  font-size: 72px;
  text-indent: 5px;
}

h2 {
  font-size: 48px;
}

h4 {
  color: #666;
}

p {
  margin-bottom: 24px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #4393d0;
}

a:hover {
  color: #236ea7;
}

article {
  z-index: 10;
  position: relative;
  margin: 10%;
  min-height: 200px;
  background: #fff;
}

article > img {
  float: right;
  margin: 0 0 10% 15%;
  width: 33%;
}

figure {
  z-index: 2;
  display: table;
  height: 800px;
  width: 100%;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}

footer {
  clear: both;
  text-align: center;
  color: #999;
}

@media (max-width: 960px) {
  h1 {
    font-size: 120px;
    line-height: 80px;
  }

  h1 span {
    font-size: 72px;
    text-indent: 3px;
  }
}

@media (min-width: 769px) {
  #games > figure { z-index: 0; background-image: url(../images/losttoys.jpg); }
  #mobile > figure { background-image: url(../images/kala.jpg); }
  #apps > figure { background-image: url(../images/reddish.jpg); }
  #other > figure { background-image: url(../images/other.jpg); }
  #contact > figure { background-image: url(../images/contact.jpg); }
}

@media (max-width: 768px) {
  header {
    position: relative;
    bottom: -300px;
    width: 0px;
    height: 0px;
  }

  h1 {
    font-size: 80px;
    line-height: 52px;
  }

  h1 span {
    font-size: 36px;
  }

  h2 {
    line-height: 42px;
  }

  section {
    overflow-x: hidden;
  }

  figure {
    height: 480px;
    width: 919px;
    background-attachment: scroll;
    background-size: 100% 100%;
  }

  #games > figure { z-index: 0; background-image: url(../mobile/losttoys.jpg); }
  #mobile > figure { background-image: url(../mobile/kala.jpg); }
  #apps > figure { background-image: url(../mobile/reddish.jpg); }
  #other > figure { background-image: url(../mobile/other.jpg); }
  #contact > figure { background-image: url(../mobile/contact.jpg); }
}

@media (max-width: 480px) {
  header {
    bottom: -200px;
  }

  h1 {
    font-size: 48px;
    line-height: 32px;
  }

  h1 span {
    font-size: 28px;
    text-indent: 2px;
  }

  figure {
    height: 300px;
    width: 574px;
    background-size: 100% 100%;
  }
}