section, header, footer, menu, aside, article, nav {display: block;}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #444;
}

header {
  z-index: 1;
  position: absolute;
  bottom:10%;
  left: 10%
}

h1 {
  font-size: 160px;
  color: #fff;
  text-transform: uppercase;
  line-height: 96px;
  margin: 0;
  padding: 0;
}

h1 span {
  display: block;
  font-size: 72px;
  text-indent: 5px;
}

h2 {
  font-size: 48px;
}

h4 {
  color: #666;
}

p {
  margin-bottom: 24px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #4393d0;
}

a:hover {
  color: #236ea7;
}

article {
  z-index: 10;
  position: relative;
  margin: 10%;
  min-height: 200px;
  background: #fff;
}

article > img {
  float: right;
  margin: 0 0 10% 15%;
  width: 33%;
}

figure {
  z-index: 2;
  display: table;
  height: 800px;
  width: 100%;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
}

#games > figure {
  z-index: 0;
  background-image: url(../images/losttoys.jpg);
}

#mobile > figure {
  background-image: url(../images/kala.jpg);
}

#apps > figure {
  background-image: url(../images/reddish.jpg);
}

#other > figure {
  background-image: url(../images/other.jpg);
}

#contact > figure {
  background-image: url(../images/contact.jpg);
}

footer {
  clear: both;
  text-align: center;
  color: #999;
}
